# Core Data Science
pandas==2.3.3
numpy==2.2.6

# Visualization
matplotlib==3.10.9
seaborn==0.13.2
plotly==6.9.0

# Machine Learning
scikit-learn==1.7.2

# Database
SQLAlchemy==2.0.52

# Web App / Dashboard
streamlit==1.62.0

# Jupyter Notebooks
jupyterlab==4.6.3
notebook==7.6.2
ipykernel==7.3.0
